services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file: .env
    volumes:
      - .:/app
    networks:
      - multitalent_net
    command: flask --app app.wsgi run --host 0.0.0.0 --port 8000 --debug

networks:
  multitalent_net:
    external: true
